{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'loltest/styles.css' %}">
  </head>
  <body>
    <div class="row logo">
      <div class="col-3"></div>
      <div class="col-6">
      <h1><a href="/">LoLTest Europe</a></h1>
      </div>
      <div class="col-2 col-xl-1">
      <form action={% url 'language' %} method="POST">
        {% csrf_token %}
        <input type="hidden" name="last" value="{{ request.path }}">
        <select name="myselect" id="myselect" class="form-control" onchange="this.form.submit()">
            <option value="EN" {% if text.Recommended == 'Recommended'%} selected {% endif %}>&#127468;&#127463; English</option>
            <option value="PL" {% if text.Recommended == 'Polecane'%} selected {% endif %}>	&#127477;&#127473; Polski </option>
        </select>
    </form>
      </div>
    </div>
    <div class="info">
      <p> {{ text.Informationabout }}</p>
    </div>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer">
      <p>{{ text.Allrightsreserved }} © 2022 - LoLTest Europe </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>